.square {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  background-color: #FF87C4;
}

.snake {
	background-color: green;
	border: 1px solid green;
}

.snakeHead {
	background-color: purple;
	border: 1px solid purple;
}